APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

FACEBOOK_CLIENT_ID=XXX
FACEBOOK_CLIENT_SECRET=XXX

TWITTER_CLIENT_ID=XXX
TWITTER_CLIENT_SECRET=XXX

GITHUB_CLIENT_ID=XXX
GITHUB_CLIENT_SECRET=XXX
